# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/
23-37-25-344/

# Django
*.log
db.sqlite3
media/
staticfiles/
*.pot
*.mo

# Environment variables
.env

# Node / React (if full-stack)
node_modules/
build/
dist/

# IDE / OS
.vscode/
.idea/
.DS_Store
